<div name="@@key" class="stat-block">
    <button name="delete">X</button>
    <div class="container-name container-flex">
        <label class="field-label">Name:</label>
        <input name="name" type="text">
    </div>

    <div class="container-hull container-flex">
        <label class="field-label">Hull Tracker:</label>
        <div class="hull">
        </div>
    </div>

    <div class="container-strain container-flex">
        <label class="field-label">Strain Tracker:</label>
        <div class="strain">
        </div>
    </div>

    <div class="container-speed container-flex">
        <label class="field-label">Speed Tracker:</label>
        <div class="speed">
        </div>
    </div>

    @@if (group === true){
    <div class="container-dice container-flex">
        <label class="field-label">Agility:</label>
        <input name="agility" class="simple" type="number" value="1" min="1" max="6">
        <div class="attribute-dice" name="dice_group"></div>
    </div>
    }

    <div class="container-attributes">
        <div class="derived">
            @@if (group === true){
            <div class="attribute">
                <input name="group_size" type="number" min="1">
                <label class="field-label">Groupsize</label>
            </div>
            }
            <div class="attribute">
                <input name="speed" type="number" min="1">
                <label class="field-label">Speed</label>
            </div>
            <div class="attribute">
                <input name="handling" type="number" min="-4" max="4">
                <label class="field-label">Handling</label>
            </div>
            <div class="attribute vehicle-defense">
                <input name="defense" title="Fore" type="number" min="0">
                <input name="defense" title="Port" type="number" min="0">
                <input name="defense" title="Starboard" type="number" min="0">
                <input name="defense" title="Aft" type="number" min="0">
                <label class="field-label">Defense</label>
            </div>
            <div class="attribute">
                <input name="armor" type="number" min="0">
                <label class="field-label">Armor</label>
            </div>
            <div class="attribute">
                <input name="hull_per" type="number" min="1">
                <label class="field-label">Hull</label>
            </div>
            <div class="attribute">
                <input name="strain_per" type="number" min="1">
                <label class="field-label">Strain</label>
            </div>
        </div>
    </div>
</div>