<div name="@@key">
    <button name="delete">X</button>
    <div class="container-name">
        <label class="field-label">Name:</label>
        <input name="name" type="text">
    </div>

    <div class="container-wounds">
        <label class="field-label">Wound Tracker:</label>
        <div class="wounds">
        </div>
    </div>

    @@if (strain === true) {
    <div class="container-strain">
        <label class="field-label">Strain Tracker:</label>
        <div class="strain">
        </div>
    </div>
    }

    <div class="container-attributes">
        <div class="derived">
            @@if (group === true) {
            <div class="attribute">
                <input name="group_size" type="number" min="1">
                <label class="field-label">Groupsize</label>
            </div>
            }
            <div class="attribute">
                <input name="soak" type="number" min="0">
                <label class="field-label">Soak</label>
            </div>
            <div class="attribute">
                <input name="wounds_per" type="number" min="1">
                <label class="field-label">Wounds</label>
            </div>
            @@if (strain === true) {
            <div class="attribute">
                <input name="strain_per" type="number" min="1">
                <label class="field-label">Strain</label>
            </div>
            }
            <div class="template">
                <select name="adversary_template"> </select>
                <label class="field-label">Template</label>
            </div>
        </div>
        <ul class="conditions">
            <li>
                <label class="field-label">Staggered</label>
                <input type="number" min="0" value="0">
                <p>Can not perform actions (including downgrading them)</p>
            </li>
            <li>
                <label class="field-label">Immobilized</label>
                <input type="number" min="0" value="0">
                <p>Can not perform maneuver (including by strain or advantage)</p>
            </li>
            <li>
                <label class="field-label">Disorient</label>
                <input type="number" min="0" value="0">
                <p>Adds a setback to all checks</p>
            </li>
        </ul>

        <div class="characteristics">
            @@include('../../includes/stat-attribute.html', { "key": "brawn", "name": "Brawn", "group": @@group })
            @@include('../../includes/stat-attribute.html', { "key": "agility", "name": "Agility", "group": @@group })
            @@include('../../includes/stat-attribute.html', { "key": "intellect", "name": "Intellect", "group": @@group })
            @@include('../../includes/stat-attribute.html', { "key": "cunning", "name": "Cunning", "group": @@group })
            @@include('../../includes/stat-attribute.html', { "key": "willpower", "name": "Willpower", "group": @@group })
            @@include('../../includes/stat-attribute.html', { "key": "presence", "name": "Presence", "group": @@group })
        </div>
    </div>
</div>