<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Narative Dice System Tools</title>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="index.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="index.css">

    <div id="templates">
        <div name="dice_g">
            <label class="dice dice-g"></label>
        </div>
        <div name="dice_y">
            <label class="dice dice-y"></label>
        </div>
        <div name="dice_p">
            <label class="dice dice-p"></label>
        </div>
        <div name="dice_r">
            <label class="dice dice-r"></label>
        </div>

        @@for (var i = 0; i < features.length; i++) { @@include('./`+features[i]+`/template.html') }

    </div>

    <ul class="navigation">
        <li class="tab" data-tab="home">home</li>
        @@for (var i = 0; i < features.length; i++) {
        <li class="tab" data-tab="`+features[i]+`">`+features[i]+`</li>
        }
    </ul>

    <div class="tab-content" data-tab="home">
        <h1>
            Narrative Dice System Tools
        </h1>
        <p>
            Welcome to NDS Tools. This page provides a collection of minor tools to simplify playing with the Narrative
            Dice System used in Fantasy Flight Games' Genesys and Star Wars RPGs.
        </p>
        <p>
            This repository and its authors intend no copyright infringement to FFG, EDGE Studio or Asmodee.
        </p>
    </div>

    @@for (var i = 0; i < features.length; i++) {
    <div class="tab-content" data-tab="`+features[i]+`">
        @@include('./`+features[i]+`/tab.html')
    </div>
    }

</head>
<body>

</body>
</html>